html {
	height: 100%;
}
body {
	background-color: lightgoldenrodyellow;	
	height: 100%;
}

.dragText {
	font-size: 36pt;
}

.textForReading {
	font-size: 14pt
}
.txt {
	font-size: 14pt;
}

.header {
	font-size: 24pt;
}
.drop {
	height: 500pt;
}


.firstColumn {
	height: 100%;
	width: 15%;
	float: left;	
}
.secondColumn {
	height: 100%;
	width: 35%;
	float: left;
	
}
.thirdColumn {
	height: 100%;
	width: 45%;
	float: left;
	margin-left: 5%;
}