body {
	background-color: lightgoldenrodyellow;	
}

.dragText {
	font-size: 36pt;
}

.textForReading {
	font-size: 14pt
}

.drop {
	height: 500pt;
}

.firstColumn {
	height: 150pt;
	width: 50%;
	float: left;	
}
.secondColumn {
	height: 150pt;
	width: 50%;
	float: left;
}