body {
	background-color: 7f7f7f;
}

* {
	box-sizing: border-box;
}

p {
	font-size: 24px;
}
#iNavDiv {
	width: 100%;
	height: 100%;
}	
.titleHorse {
	width: 8%;
	margin: 20px auto 10px;
}
.defBox {
	font-size: 24pt;
	width: 100%;
	height: 200pt;
}
.leftHorse {
	margin-left: 20px;
}

.rightHorse {
	margin-right: 20px;
}

.left {
	width: 50%;
}

.right {
	width: 50%;
}

.row:after {
	context: "";
	display: table;
	clear: both;
}

.iSearch {
	width: 20%;
	font-size: 32px;
}

.nav {
	display: none;
}
.putDef {
	width: 100%;
	height: 80pt;
	font-size: 28pt;
}
.putMore {
	width: 24%;
	height: 80pt;
	font-size: 28pt;
}

.iSearchNav {
	width: 90%;
	font-size: 32px;
}

.b1 {
	font-size: 32px;
}

h1 {
	font-size: 36px;
	text-align: center;
}	

h2 {
	width: 2200px;
}

.b2 {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 100px;
	width: 100px;
	font-size: 32px;
	vertical-align: bottom;
}

.bL {
	margin-left: 600px;
}

.b3 {
	margin: 0px;
	height: 42px;
	width: 42px;
	vertical-align: bottom;
}
.redWord {
	color: red;
	cursor: pointer;
}
.blueWord {
	color: blue;
	cursor: pointer;
}
.bImg {
	height: 100px;
	width: 100px;
	margin-botton: 0px;
}

.lEl {
	font-size: 36px;
}
.GameScore {
	padding-top: 100%
	width: 100%;
	height: 12%;
}

.pMid {
	font-size: 32px;
	text-align: center;
	margin-top: 20px;
	margin-left: 20%;
	margin-right: 25%;
	height: 800px;
}
.row {
	display: flex;	
}
.column {
	flex: 33%;
}
.counts {
	font-size: 36pt;
	margin-left: 10pt;
}
.columns_four {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 20%;
}
.debug {
	display: inline
}
.pDef {
	font-size: 36px;
	margin-top: 30%;
	margin-left: 2%;
	width: 180%;
	height: 800pt;
}
.pBig {
	font-size: 128px;
	text-align: center;
	margin-top: 20px;
	margin-left: 20%;
	margin-right: 25%;
}

.lMid {
	margin-top: 24px;
	margin-left: 38%;
}

.navL {
	display: none;
	margin-left: 42%;
	margin-bottom: 0px;
}

.navT {
	display: none;
	margin-bottom: 0px;
}

.i3 {
	font-size: 80px;
}

.pFB {
	display: none;
	font-size: 48px;
	margin-left: 48%;
	margin-right: 10%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

h3 {
	margin-left: 10px;
}

label {
	font-size: 32px;
	padding: 20px auto 20px;
	margin-left: 10px;
	margin-right: 25px;
}

.progressBar {
	background-Color: blue;
	width: 200pt;
	height: 36px;
	margin-right: 6px;
	margin-top: 0px;
	margin-botton: 0px;
	display: inline-block;
}

.score {
	margin-right: 16px;
	margin-left: 0px;
	display: inline-block;
	padding: 0;
	font-size: 36px;
}

.progressContainer {
	display: inline-block;
	overflow: hidden;
	width: 600px;
	height: 24px;
	border: 4px solid #333333;
	border-radius: 99px;
	margin-right: 16px;
}

.progressBar {
	display: block;
	height: 100%;
	background-color: blue;
	border-radius: 99x;
}
.progress {
	-o-transition: .1s;
	-moz-transition: .1s;
	-webkit-transition: .1s;
	transition: .1s;
}

.iDef {
	width: 100%;
	font-size: 24px;
}
.outside {
	height: 120px;
}
.hidden {
	visibiliy: none;
}
.fmtWords {
	margin-left: 5%;
	font-size: 60px
}
.inputSearch {
	font-size: 48pt;
	width: 66%;
	height: 80pt;
}
.dropEl {
	font-size: 24pt;
	margin: 0pt;
}
#iShowBtn {
	width: 256px;
}

#iListShowClass {
	width: 256px;
}

#iDefDiv {
	display: none;
}