body {
	background-color: lightgoldenrodyellow;	
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

p {
	font-size: 24px;
}
#iNavDiv {
	width: 100%;
	height: 100%;
}	
.centred {
	text-align: center;
}

.defBox {
	font-size: 24pt;
	width: 100%;
	height: 200pt;
}
.leftHorse {
	margin-left: 20px;
}

.rightHorse {
	margin-right: 20px;
}

.left {
	width: 50%;
}

.right {
	width: 50%;
}
.iSearch {
	width: 20%;
	font-size: 32px;
}
.diffPlus {
	font-size: 20px;	
	color: green;
}
.diffMinus {
	font-size: 20px;
	color: red;
}
.nav {
	display: none;
}
.putDef {
	width: 100%;
	height: 80pt;
	font-size: 28pt;
}
.putDefThree {
	width: 33%;
	height: 80pt;
	font-size: 28pt;
}
.iSearchNav {
	width: 90%;
	font-size: 32px;
}

.b1 {
	font-size: 32px;
}

h1 {
	font-size: 64px;
	text-align: center;
}	

h2 {
	width: 2200px;
}

.b2 {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 100px;
	width: 100px;
	font-size: 32px;
	vertical-align: bottom;
}

.bL {
	margin-left: 600px;
}

.b3 {
	margin: 0px;
	height: 42px;
	width: 42px;
	vertical-align: bottom;
}
.redWord {
	color: red;
	cursor: pointer;
}
.blueWord {
	color: blue;
	cursor: pointer;
}
.bImg {
	height: 100px;
	width: 100px;
	margin-botton: 0px;
}

.lEl {
	font-size: 36px;
}

.pMid {
	font-size: 32px;
	text-align: center;
	margin-top: 20px;
	margin-left: 20%;
	margin-right: 25%;
	height: 800px;
}
.firstColumn {
	width: 34%;
	float: left;
	margin-left: 1%;
}
.secondColumn {
	width: 50%;
	float: left;
	margin-right: 5%;
	margin-top: 1%;
}
.titleLeft {
	width: 12%;
	float: left;
	margin-left: 1%;
	margin-top: 1%;
}
.titleCentre {
	width: 70%;
	float: left;
	margin-left: 1%;
}
.titleRight {
	width: 12%;
	float: right;
	margin-right: 1%;
	margin-top: 1%;
}
.counts {
	font-size: 36pt;
	margin-left: 10pt;
}
.countLeft {
	margin-right: 18%;
}
.countTotal {
	margin-right: 21%;
}
.debug {
	display: inline
}
.pDef {
	font-size: 24px;
	margin-top: 5%;
	margin-left: 2%;
	width: 100%;
	height: 800pt;
}
.pBig {
	font-size: 128px;
	text-align: center;
	margin-top: 20px;
	margin-left: 20%;
	margin-right: 25%;
}

.lMid {
	margin-top: 24px;
	margin-left: 38%;
}

.navL {
	display: none;
	margin-left: 42%;
	margin-bottom: 0px;
}

.navT {
	display: none;
	margin-bottom: 0px;
}

.i3 {
	font-size: 80px;
}

.pFB {
	display: none;
	font-size: 48px;
	margin-left: 48%;
	margin-right: 10%;
}

h3 {
	margin-left: 10px;
}

label {
	font-size: 32px;
	padding: 20px auto 20px;
	margin-left: 10px;
	margin-right: 25px;
}

.score {
	margin-right: 16px;
	margin-left: 0px;
	display: inline-block;
	padding: 0;
	font-size: 36px;
}

.progressContainer {
	display: inline-block;
	overflow: hidden;
	width: 600px;
	height: 24px;
	border: 4px solid #333333;
	border-radius: 99px;
	margin-right: 16px;
}

.progressBar {
	display: block;
	height: 100%;
	background-color: blue;
	border-radius: 99x;
}
.progress {
	-o-transition: .1s;
	-moz-transition: .1s;
	-webkit-transition: .1s;
	transition: .1s;
}

.iDef {
	width: 100%;
	font-size: 24px;
}
.outside {
	height: 120px;
}
.hidden {
	visibiliy: none;
}
.fmtWords {
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 0%;
	font-size: 36px;
	color: royalblue;
}
.fmtAuxClass {	
	font-size: 24px;
	color: royalblue;
	display: block;
	margin-left: 5%;
	margin-top: 1%;	
}

.inputSearch {
	font-size: 48pt;
	width: 32%;
	height: 80pt;
	margin-right: 1%;	
}
.dropEl {
	font-size: 24pt;
	margin: 0pt;
}
#iShowBtn {
	width: 256px;
}

#iListShowClass {
	width: 256px;
}

#iDefDiv {
	display: none;
}